Programme/Node_Red/flows.json
[
    {
        "id": "6ea01713093f2722",
        "type": "tab",
        "label": "BloomBuddy Projekt",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ab0d843b3ba23789",
        "type": "mqtt in",
        "z": "6ea01713093f2722",
        "name": "Sensorwerte",
        "topic": "Zuhause/Wohnung/BloomBuddy",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f52d8dda491674f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 160,
        "wires": [
            [
                "2b9c21a48eb14600",
                "9c54f0e4af92a3b0",
                "2deb473108930253",
                "28e3a01dd97facc7",
                "3751fff93d4afa06",
                "27d8b2def6855efb"
            ]
        ]
    },
    {
        "id": "2b9c21a48eb14600",
        "type": "function",
        "z": "6ea01713093f2722",
        "name": "Füllstand extrahieren",
        "func": "// Hier wird der Füllstand extrahiert\nvar fuellstand = { payload: msg.payload.Fuellstand};\nreturn fuellstand;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 160,
        "wires": [
            [
                "f1a77c6b47246d1d",
                "ea70d29f2eb7a211",
                "d827af39e118dcc8",
                "21145d0cbb988bab"
            ]
        ]
    },
    {
        "id": "f1a77c6b47246d1d",
        "type": "debug",
        "z": "6ea01713093f2722",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 320,
        "wires": []
    },
    {
        "id": "ea70d29f2eb7a211",
        "type": "ui_gauge",
        "z": "6ea01713093f2722",
        "name": "Fuellstand_Tank",
        "group": "33d2acc7325a33b9",
        "order": 1,
        "width": 6,
        "height": 6,
        "gtype": "wave",
        "title": "Fuellstand",
        "label": "mm",
        "format": "{{value}}",
        "min": 0,
        "max": "800",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 720,
        "y": 360,
        "wires": []
    },
    {
        "id": "d827af39e118dcc8",
        "type": "switch",
        "z": "6ea01713093f2722",
        "name": "Fuellstand Abfrage < 260mm (20%)",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "260",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1280,
        "y": 160,
        "wires": [
            [
                "7cc407de9bcdddc7"
            ]
        ]
    },
    {
        "id": "f89ef3408b2ed91f",
        "type": "e-mail",
        "z": "6ea01713093f2722",
        "server": "smtp.web.de",
        "port": "587",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": false,
        "tls": true,
        "name": "schnaible2@web.de",
        "dname": "E-Mail Versand",
        "x": 2320,
        "y": 160,
        "wires": []
    },
    {
        "id": "7cc407de9bcdddc7",
        "type": "function",
        "z": "6ea01713093f2722",
        "name": "Betreff und Nachricht der E-Mail",
        "func": "msg.topic=\"Warnung: Füllstand niedrig!\";\nmsg.payload=\"Füllstand des Wassertanks ist niedriger als 20% (260mm), bitte fülle Wasser nach\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1670,
        "y": 160,
        "wires": [
            [
                "c373b41b51ca85f0",
                "9833d0a0c36aecd5"
            ]
        ]
    },
    {
        "id": "707e0b780a4c8345",
        "type": "inject",
        "z": "6ea01713093f2722",
        "name": "E-Mail manuell auslösen",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1310,
        "y": 280,
        "wires": [
            [
                "7cc407de9bcdddc7"
            ]
        ]
    },
    {
        "id": "c373b41b51ca85f0",
        "type": "debug",
        "z": "6ea01713093f2722",
        "name": "E-Mail auslesen",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 220,
        "wires": []
    },
    {
        "id": "2b5040a28ffc22e0",
        "type": "debug",
        "z": "6ea01713093f2722",
        "name": "Temperatur überprüfen",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 500,
        "wires": []
    },
    {
        "id": "9c54f0e4af92a3b0",
        "type": "function",
        "z": "6ea01713093f2722",
        "name": "Temperatur extrahieren",
        "func": "// Hier wird die Temperatur extrahiert\nvar temperatur = { payload: msg.payload.Temperatur};\nreturn temperatur;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 520,
        "wires": [
            [
                "2b5040a28ffc22e0",
                "f98b33dccf891aac",
                "9d99bb0f371f7188"
            ]
        ]
    },
    {
        "id": "f98b33dccf891aac",
        "type": "ui_gauge",
        "z": "6ea01713093f2722",
        "name": "Temperatur",
        "group": "33d2acc7325a33b9",
        "order": 2,
        "width": 6,
        "height": 6,
        "gtype": "donut",
        "title": "Temperatur",
        "label": "°C",
        "format": "{{value}}",
        "min": "10",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 540,
        "wires": []
    },
    {
        "id": "2deb473108930253",
        "type": "function",
        "z": "6ea01713093f2722",
        "name": "Luftfeuchtigkeit extrahieren",
        "func": "// Hier werden die Daten für die Luftfeuchtigkeit extrahiert\nvar luftfeuchtigkeit = { payload: msg.payload.Luftfeuchtigkeit};\nreturn luftfeuchtigkeit;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 680,
        "wires": [
            [
                "65770247ed601d36",
                "df1cfeb6a6065d6f"
            ]
        ]
    },
    {
        "id": "65770247ed601d36",
        "type": "ui_gauge",
        "z": "6ea01713093f2722",
        "name": "Luftfeuchtigkeit ",
        "group": "33d2acc7325a33b9",
        "order": 3,
        "width": 6,
        "height": 6,
        "gtype": "wave",
        "title": "Luftfeuchtigkeit",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 720,
        "y": 680,
        "wires": []
    },
    {
        "id": "df1cfeb6a6065d6f",
        "type": "ui_chart",
        "z": "6ea01713093f2722",
        "name": "Luftfeuchtigkeit",
        "group": "33d2acc7325a33b9",
        "order": 8,
        "width": 6,
        "height": 6,
        "label": "Luftfeuchtigkeit",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "30000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 720,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "9d99bb0f371f7188",
        "type": "ui_chart",
        "z": "6ea01713093f2722",
        "name": "Temperatur ",
        "group": "33d2acc7325a33b9",
        "order": 7,
        "width": 6,
        "height": 6,
        "label": "Temperatur",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "40",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "28e3a01dd97facc7",
        "type": "function",
        "z": "6ea01713093f2722",
        "name": "Helligkeit extrahieren",
        "func": "// Hier wird die Helligkeit extrahiert\nvar helligkeit = { payload: msg.payload.Helligkeit };\nreturn helligkeit;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 820,
        "wires": [
            [
                "342f68ac7102c5c2",
                "55ba444c9b728bd2"
            ]
        ]
    },
    {
        "id": "342f68ac7102c5c2",
        "type": "ui_gauge",
        "z": "6ea01713093f2722",
        "name": "Helligkeit",
        "group": "33d2acc7325a33b9",
        "order": 5,
        "width": 6,
        "height": 6,
        "gtype": "wave",
        "title": "Helligkeit",
        "label": "lx",
        "format": "{{value}}",
        "min": 0,
        "max": "5000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 700,
        "y": 820,
        "wires": []
    },
    {
        "id": "55ba444c9b728bd2",
        "type": "ui_chart",
        "z": "6ea01713093f2722",
        "name": "Helligkeit",
        "group": "33d2acc7325a33b9",
        "order": 10,
        "width": 6,
        "height": 6,
        "label": "Helligkeit",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "5000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 700,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "3751fff93d4afa06",
        "type": "function",
        "z": "6ea01713093f2722",
        "name": "Bodenfeuchtigkeit extrahieren",
        "func": "// Hier wird die Bodenfeuchtigkeit extrahiert\nvar bodenfeuchtigkeit = { payload: msg.payload.Bodenfeuchtigkeit };\nreturn bodenfeuchtigkeit;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 980,
        "wires": [
            [
                "0af1b4436c340a27",
                "7945fba17f048ccb"
            ]
        ]
    },
    {
        "id": "0af1b4436c340a27",
        "type": "ui_gauge",
        "z": "6ea01713093f2722",
        "name": "Bodenfeuchtigkeit",
        "group": "33d2acc7325a33b9",
        "order": 4,
        "width": 6,
        "height": 6,
        "gtype": "wave",
        "title": "Bodenfeuchtigkeit",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 980,
        "wires": []
    },
    {
        "id": "7945fba17f048ccb",
        "type": "ui_chart",
        "z": "6ea01713093f2722",
        "name": "Bodenfeuchtigkeit",
        "group": "33d2acc7325a33b9",
        "order": 9,
        "width": 6,
        "height": 6,
        "label": "Bodenfeuchtigkeit",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "041303295dbd050d",
        "type": "mysql",
        "z": "6ea01713093f2722",
        "mydb": "c93c5390c47ffe2c",
        "name": "pflanzendatenbank",
        "x": 730,
        "y": 1160,
        "wires": [
            [
                "9db417b2f483d5c6"
            ]
        ]
    },
    {
        "id": "27d8b2def6855efb",
        "type": "function",
        "z": "6ea01713093f2722",
        "name": "In Datenbank schreiben",
        "func": "// Payload Definition\nlet temperatur = msg.payload.Temperatur;\nlet luftfeuchtigkeit = msg.payload. Luftfeuchtigkeit;\nlet helligkeit = msg.payload. Helligkeit;\nlet fuellstand = msg.payload. Fuellstand;\nlet bodenfeuchtigkeit = msg.payload. Bodenfeuchtigkeit;\n\n//Timestamp in einem Format, das SQLite verarbeiten kann (YYYY-MM-DD HH:MM:SS)\nconst zeit = new Date;\nzeit.setHours(zeit.getHours() +2); //\" Stunden Zeitverschiebung\"\nlet timestamp = zeit.toISOString().replace(\"T\", \" \").substring(0, 19);\n// Erstellt die Topics um diese in die Datenbank zu schreiben\nmsg.topic = \"INSERT INTO sensorwerte_wohnung (Temperatur, Luftfeuchtigkeit, Helligkeit, Fuellstand, Bodenfeuchtigkeit, Zeit) VALUES (?,?,?,?,?,?)\";\n// Schreibt die gemessenen Werte in die Datenbank\nmsg.payload = [temperatur, luftfeuchtigkeit, helligkeit, fuellstand, bodenfeuchtigkeit, timestamp];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1160,
        "wires": [
            [
                "041303295dbd050d",
                "8565116410e0e39c"
            ]
        ]
    },
    {
        "id": "9db417b2f483d5c6",
        "type": "debug",
        "z": "6ea01713093f2722",
        "name": "Werte kontrollieren",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 1160,
        "wires": []
    },
    {
        "id": "8565116410e0e39c",
        "type": "debug",
        "z": "6ea01713093f2722",
        "name": "Ausgabe in die Datenbank",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 1220,
        "wires": []
    },
    {
        "id": "9833d0a0c36aecd5",
        "type": "delay",
        "z": "6ea01713093f2722",
        "name": "Nachrichten begrenzen für Email Versand",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 2020,
        "y": 160,
        "wires": [
            [
                "f89ef3408b2ed91f"
            ]
        ]
    },
    {
        "id": "21145d0cbb988bab",
        "type": "ui_chart",
        "z": "6ea01713093f2722",
        "name": "Fuellstand Tank",
        "group": "33d2acc7325a33b9",
        "order": 6,
        "width": 6,
        "height": 6,
        "label": "Fuellstand",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "800",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 720,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "e13de4392fc9f932",
        "type": "ui_switch",
        "z": "6ea01713093f2722",
        "name": "Schalter 1 Pumpe manuell ein/aus",
        "label": "Pumpe manuell ein/aus",
        "tooltip": "",
        "group": "33d2acc7325a33b9",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"Schalter1\":\"ON\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"Schalter1\":\"OFF\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 460,
        "y": 1340,
        "wires": [
            [
                "43966f1f772a6869",
                "5d217682f66511bc"
            ]
        ]
    },
    {
        "id": "43966f1f772a6869",
        "type": "mqtt out",
        "z": "6ea01713093f2722",
        "name": "Pumpe manuell an/aus",
        "topic": "Zuhause/Wohnung/BloomBuddy",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f52d8dda491674f7",
        "x": 740,
        "y": 1340,
        "wires": []
    },
    {
        "id": "5d217682f66511bc",
        "type": "debug",
        "z": "6ea01713093f2722",
        "name": "Schalterstellung überprüfen",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 1420,
        "wires": []
    },
    {
        "id": "1b3509254f94d1a6",
        "type": "comment",
        "z": "6ea01713093f2722",
        "name": "Hier wird der Messwert für die Helligkeit dargestellt (Gauge & Chart)",
        "info": "",
        "x": 880,
        "y": 780,
        "wires": []
    },
    {
        "id": "298f7659732eb0fc",
        "type": "comment",
        "z": "6ea01713093f2722",
        "name": "Hier wird der Messwert für die Bodenfeuchtigkeit dargestellt (Gauge & Chart)",
        "info": "",
        "x": 910,
        "y": 940,
        "wires": []
    },
    {
        "id": "f23a815ccc07ddc6",
        "type": "comment",
        "z": "6ea01713093f2722",
        "name": "Hier wird der Messwert für die Luftfeuchtigkeit dargestellt (Gauge & Chart)",
        "info": "",
        "x": 900,
        "y": 640,
        "wires": []
    },
    {
        "id": "3e5af4204ef19876",
        "type": "comment",
        "z": "6ea01713093f2722",
        "name": "Hier wird der Messwert für die Temperatur dargestellt (Gauge & Chart)",
        "info": "",
        "x": 890,
        "y": 460,
        "wires": []
    },
    {
        "id": "344953350ff2219a",
        "type": "comment",
        "z": "6ea01713093f2722",
        "name": "Hier wird der Messwert für den Füllstand dargestellt (Gauge & Chart)",
        "info": "",
        "x": 880,
        "y": 280,
        "wires": []
    },
    {
        "id": "fbd55ed153995ceb",
        "type": "comment",
        "z": "6ea01713093f2722",
        "name": "Hier werden die Messwerte von den Sensoren empfangen (Topic: Zuhause/Wohnung/BloomBuddy)",
        "info": "",
        "x": 440,
        "y": 120,
        "wires": []
    },
    {
        "id": "3e0d21d19089fdc7",
        "type": "comment",
        "z": "6ea01713093f2722",
        "name": "E-Mail manuell senden für Tests",
        "info": "",
        "x": 1310,
        "y": 240,
        "wires": []
    },
    {
        "id": "c93c10ef5836d183",
        "type": "comment",
        "z": "6ea01713093f2722",
        "name": "Hier wird der Füllstand abgefragt",
        "info": "",
        "x": 1270,
        "y": 120,
        "wires": []
    },
    {
        "id": "535f6844fd175f98",
        "type": "comment",
        "z": "6ea01713093f2722",
        "name": "Versender & Empfänger der E-Mail definieren",
        "info": "",
        "x": 2410,
        "y": 120,
        "wires": []
    },
    {
        "id": "49bc50789fd527cc",
        "type": "comment",
        "z": "6ea01713093f2722",
        "name": "MQTT Ausgang",
        "info": "",
        "x": 720,
        "y": 1300,
        "wires": []
    },
    {
        "id": "eb7a3bab592d5780",
        "type": "comment",
        "z": "6ea01713093f2722",
        "name": "Schalter auf dem Dashboard",
        "info": "",
        "x": 440,
        "y": 1300,
        "wires": []
    },
    {
        "id": "82b751773cdd843b",
        "type": "comment",
        "z": "6ea01713093f2722",
        "name": "Datenbank Bennenung",
        "info": "",
        "x": 740,
        "y": 1120,
        "wires": []
    },
    {
        "id": "f52d8dda491674f7",
        "type": "mqtt-broker",
        "name": "Pflanze-Broker",
        "broker": "127.0.0.1",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "33d2acc7325a33b9",
        "type": "ui_group",
        "name": "BloomBuddy",
        "tab": "0bcb2e28e6f209cc",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c93c5390c47ffe2c",
        "type": "MySQLdatabase",
        "name": "pflanzendaten",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "pflanzendaten",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "0bcb2e28e6f209cc",
        "type": "ui_tab",
        "name": "Plant",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]